<%- include('partials/header') %>


<style>
   
  .tab {
    background-color: #f1f1f1;
    float: left;
    border: 1px solid #ccc;
    cursor: pointer;
    padding: 10px 20px;
    transition: background-color 0.3s;
  }
  
 
  .tab:hover {
    background-color: #ddd;
  }
  

  .tabcontent {
    display: none;
    padding: 20px;
    border: 1px solid #ccc;
    border-top: none;
  }
  </style>
  <div class="tab" onclick="openTab('Dashboard')">Dashboard</div>
  <div class="tab" onclick="openTab('Appointment')">Appointment</div>
  <div class="tab" onclick="openTab('PrevAppointments')">PrevAppointments</div>
  <div class="tab" onclick="openTab('Complains')">Complains</div>
  
<div id="Dashboard" class="tabcontent">
  <h3>Data about your health</h3>
</div>

<div id="Appointment" class="tabcontent">
  <h1>Book an Appointment</h1>
   
<div class="jumbotron text-center">
  <i></i>
  <h1>Akanksha Hospital</h1>
  <p>Book your appointment</p>
  <form action="/book-appointment" method="POST">
    <div class="form-group">
      <label for="email">Email</label>
      <input type="text" class="form-control" name="email" placeholder="Username"  value="<%= email %>" readonly>
    </div>
    <div class="form-group">
      <label for="name">Patient's Name</label>
      <input type="text" class="form-control" name="name" placeholder="Enter your name" required>
    </div>
    <div class="form-group">
      <label for="age">Age</label>
      <input type="number" class="form-control" name="age" placeholder="Enter your Age" required>
    </div>
  
    
    <div class="form-group">
      <label for="gender">Select Gender</label>
      <select class="form-control" name="gender" required>
        <option value="">Select your Gender</option>
        <option value="Male">Male</option>
        <option value="Female">Female</option>
        <option value="Others">Others</option>  
      </select>
    </div>

    <div class="form-group">
      <label for="phone">Phone</label>
      <input type="text" class="form-control" name="phone" placeholder="Phone number" required>
    </div>
      
    
    <div class="form-group">
      <label for="doctor">Select Doctor</label>
      <select class="form-control" name="doctor" id="doctor" required>
          <option value="">Select a doctor</option>
      </select>
    </div>
  
  <script>
     
      fetch('/get-doctor-names')
          .then(response => response.json())
          .then(data => {

              const selectDoctor = document.getElementById('doctor');
              
              data.forEach(doctorName => {
                
                  const option = document.createElement('option');
                  option.value = doctorName;
                  option.textContent = doctorName;
                  selectDoctor.appendChild(option);
              });
          })
          .catch(error => {
              console.error('Error fetching doctor names:', error);
          });
  </script>
    <div class="form-group">
      <label for="date">Preferred Date</label>
      <input type="date" class="form-control" name="date" required>
    </div>
    <div class="form-group">
      <label for="message">Message (Optional)</label>
      <textarea class="form-control" name="message" rows="3" placeholder="Enter any additional information or message"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
</div>



<div id="PrevAppointments" class="tabcontent" >
  <h2>Previous Prescriptions</h2>
  <div class="container">
    <div class="sidebar">
       
        <% prev.forEach(prevAppointment => { %>
            <div>
                <label>
                    <input type="checkbox" name="prev" readonly>
                    <a href="/prevPrescription/<%=prevAppointment.id %>"><%= prevAppointment.date %></a>
                </label>    
            </div>
        <% }); %> 
      
    </div>
  
    <div class="main-content">
    </div>
</div>
</div>

<div id="Complains" class="tabcontent">
  <h3>Complains</h3>
 <textarea name="Complains" id="Complains" cols="30" rows="5"></textarea>
 <button type="button">Submit</button>
</div>


  <script>
    function openTab(tabName) {
    var i;
    var tabcontent = document.getElementsByClassName("tabcontent");
    for (i = 0; i < tabcontent.length; i++) {
      tabcontent[i].style.display = "none";
    }
    document.getElementById(tabName).style.display = "block";
  }
  </script>



<%- include('partials/footer') %>
